body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 20px;
}
  
h1 {
  text-align: center;
}
  
.container {
  box-shadow: 0 2px 8px rgb(101, 101, 101);
  padding: inherit;
}

.notas-table {
  margin-top: 20px;
  overflow-x: auto;
  position: relative;
}
  
table {
  width: 100%;
  border-collapse: collapse;
}
  
table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
  
table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
  
a.btn-agregar-nota {
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(22, 115, 125, 0.871);
  color: #fff;
  border-radius: 5px;
}

/* Estilos de los botones */
.btn-editar {
  background-color: rgba(225, 186, 30, 0.936);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
}

.btn-borrar {
  background-color: #dd0319;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
}

.btn-registrar {
  background-color: rgb(79, 61, 218);
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 10px;
}
  
@media (max-width: 768px) {
  table th,
  table td {
    font-size: 14px;
    padding: 5px;
  }
    
  a.btn-agregar-nota {
    font-size: 14px;
    padding: 8px 16px;
  }
}
  
.back-button {
  outline: none;
  border: none;
  color: #ffffff;
  background-color: rgba(255, 173, 8, 0.871);
  font-size: 1.2rem;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color .3s;
}

.back-button:hover {
  color: rgba(255, 173, 8, 0.871);
  background-color: #a4810e;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-details {
  margin-right: 1rem;
}

form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 8px rgb(101, 101, 101);
  background: #f0f0f0;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: rgba(22, 115, 125, 0.871);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}