* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: rgb(79, 61, 218);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    padding-left: 2rem;
}

nav ul {
    display: flex;
}

nav ul li {
    border-right: solid .1rem white;
}

.menu-box li a {
    color: #fff;
    font-size: 1rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
    display: flex;
}

nav ul li:last-child{
    border-right: none;
}

.drawer {
    color: #fff;
    float: left;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 2rem;
    display: none;
}

#ckbox {
    display: none;
}

main {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

main h1 {
    font-size: 1.7rem;
    color: #000000;
    padding: 1rem;
    text-align: justify;
    margin: 1rem 0;
}

main h2 {
    color: #000000;
    margin: 1rem 0;
    font-size: 1.2rem;
}

main p{
    font-size: 1.5rem;
    max-width: 1200px;
    color: #000000;
    text-align: justify;
    padding: 1rem;
    margin: 1rem 0;
}

.image {
    position: relative;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-13px);
    }
    100% {
      transform: translateY(0);
    }
}

.image img {
    height: 60vh;
}

footer {
    /*flex: 0 0 auto;*/
    color: #ffff;
    padding: 20px;
    text-align: center;
    background-color: rgba(22, 115, 125, 0.871);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
}

footer a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}

.footer-left,
.footer-right {
    flex: 1;
}

@media(max-width:1020px){
    nav {
        justify-content: flex-start;
    }

    .drawer {
        display: block; /*muestra la hamburguesa para acceder al menu*/
    }

    nav h1 {
        margin-left: 1rem;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: #4f4aaf;
        top: 10vh;
        left: -100%; /*oculta el menu*/
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem wheat;
    }

    #ckbox:checked ~ .menu-box{
        left: 0; /*habilita el check del menu (tres lineas)*/
    }

    main h1 {
        text-align: center;
    }

    main p {
        padding: 1rem;
    }

    .image {
        display: none;
    }

    footer {
        flex-direction: column;
        display: flex;
        height: auto;
    }
}

/*@media(max-width:600px) {
    footer {
        flex-direction: column;
        display: flex;
        height: auto;
    }
}*/

/* CSS CORRESPONDIENTE A CURSOS.PHP */

.container {
    max-width: 800px;
    width: 100%;
    padding: 25px 30px;
    background: #FFFFFF;
    box-shadow: 0 5px 10px rgb(78, 78, 78);
}

.container .title {
    font-size: 35px;
    color: #202020;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(to right,#58b9ff,#125ef5);
}

.container form .cursos-details {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

form .cursos-details .input-box {
    margin: 20px 0 10px 0;
    margin-bottom: 20px;
    width: calc(100% / 2);
}

.cursos-details .input-box .details {
    font-weight: bold;
    padding-right: 40px;
}

.cursos-details .cursos-selector {
    font-weight: bold;
    padding-right: 20px;
}

.cursos-details .radio-container {
    margin: 10px 0 10px 0;
}

form button{
   height: 40px;
   width: 100%;
   outline: none;
   border: none;
   color: #FFFFFF;
   cursor: pointer;
   border-radius: 1em;
   font-size: 18px;
   margin-top: 20px;
   background-color: rgb(79, 61, 218);
}

form button:hover {
    background-color: rgba(71, 121, 248, 0.871);
}

@media (max-width: 1800px) {
    .container {
        max-width: 70%;
        max-height: 90%;
    }
    
    .container .title{
        position:static;
    }

    .container .title::before {
        display: none;
    }

    form .cursos-details .input-box {
        margin-bottom: 15px;
        width: 70%;
    }
    
    .container form .cursos-details {
        max-height: 160px;
        overflow-y: scroll;
    }
    
    .cursos-details::-webkit-scrollbar {
        width: 0;
    }
}

@media (max-width: 600px) {

    header h1{
       font-size: 25px;
    }

    .container {
        max-width: 90%;
        max-height: 90%;
    }

    .container form .cursos-details {
        max-height: 160px;
        overflow-y: scroll;
    }

   .cursos-details .cursos-selector {
        padding-right: 300px;
    }

    .cursos-details .input-box .details {
        padding-right: 200px;
    }
}
